/exchangerater/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/exchangerater/.idea/vcs.xml
/exchangerater/.gradle/7.4/checksums/sha1-checksums.bin
/exchangerater/.idea/misc.xml
/exchangerater/.gradle/buildOutputCleanup/outputFiles.bin
/exchangerater/.gradle/buildOutputCleanup/cache.properties
/exchangerater/.gradle/7.4/checksums/checksums.lock
/exchangerater/.idea/compiler.xml
/exchangerater/.gradle/7.4/dependencies-accessors/dependencies-accessors.lock
/exchangerater/.gradle/7.4/executionHistory/executionHistory.bin
/exchangerater/.gradle/7.4/executionHistory/executionHistory.lock
/exchangerater/.gradle/file-system.probe
/exchangerater/.gradle/7.4/fileHashes/fileHashes.bin
/exchangerater/.gradle/7.4/fileHashes/fileHashes.lock
/exchangerater/.gradle/7.4/dependencies-accessors/gc.properties
/exchangerater/.gradle/7.4/gc.properties
/exchangerater/.gradle/vcs-1/gc.properties
/exchangerater/.idea/gradle.xml
/exchangerater/.idea/jarRepositories.xml
/exchangerater/.gradle/7.4/fileChanges/last-build.bin
/exchangerater/.gradle/7.4/checksums/md5-checksums.bin
/exchangerater/.idea
/exchangerater/gradle
/exchangerater/gradlew
/exchangerater/gradlew.bat